* {
  box-sizing: border-box;
}

.app {
  position: relative;
  width: 100vh;
  height: 100vh;
}

.header,
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1vh auto;
  width: 60vw;
  height: 8vh;
}

.header {
  position: relative;

  & .title {
    font-size: 1vw;
    float: left;
    position: absolute;
  }

  & .up-imgs {
    margin-left: 50vw;
    display: flex;

    & .img-responsive {
      position: relative;
      float: right;
      padding: 1vw;
      
      width: 5vw;
      height: 10vh;
      cursor: pointer;
    }
  }
}

 .portalImg {
  max-height: 50%;
  max-width: 50%;
}

.container {
  max-width: 60%;
  max-height: 80%;
  border: 0.6vh solid #f5821f;
  border-radius: 4vh;
  margin: 2rem auto;

  & .option-container,
  & .question-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .question-container {
    margin: 5% auto;

    & .question, .focus {
      cursor: pointer;
      margin: 1%;
      background: none;
      border: .4vh solid #0FA0C5;
      border-radius: 20%;
      padding: 1.5% 1%;
      font-size: 200%;
      font-weight: 800;
      width: 7%;

      }
      
      & .focus {
        background: #0FA0C5;
        color: #fff;
    }
  }

  & .option-container {
     width: 65%;
     height: 65%;
     margin: 4rem auto;
  }

 & img {
    width: 70%;
    height: 70%;
    margin: 5%;
  }

  & .line {

& .optClick {
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

& .opt-text {
  font-size: 3rem;

  & .answer {
    text-decoration: underline;
    color: green;
  }

  & .not-answer {
    text-decoration: underline;
    color: red;
  }

  & .right {
    color: green;
  }

  & .false {
    color: red;
  }
}

}
}

.footer {
  & img {
    cursor: pointer;
  }
}
