* {
  box-sizing: border-box;
}

// html, body {
//   width: 100%;
//   height: 100vh;
// }

// .App {
//   max-width: 80%;
//   max-height: 80%;
// }

.preload {
    width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header,
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1vh auto;
  width: 60vw;
  height: 8vh;
}

.header {
  position: relative;

  & .title {
    font-size: 1vw;
    float: left;
    position: absolute;
  }

  & .up-imgs {
    margin-left: 50vw;
    display: flex;

    & .img-responsive {
      position: relative;
      float: right;
      padding: 1vw;

      width: 5vw;
      height: 10vh;
      cursor: pointer;
    }
  }
}

.portalImg {
  max-height: 50%;
  max-width: 50%;
}

.back {
  background-image: linear-gradient(to bottom, #0fa0c5, #0fa0c5 85%, rgb(222,236,246) 50%);



}

.container {
   max-width: 60%;
   max-height: 80%;
  border: 0.6vh solid #f5821f;
  border-radius: 4vh;
  margin: 2rem auto;
  background-color: #fff;

  & .option-container,
  & .question-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .question-container {
    margin: 5% auto;

    & .question,
    .focus {
      cursor: pointer;
      margin: 1%;
      background: none;
      border: 0.4vh solid #0fa0c5;
      border-radius: 20%;
      padding: 1.5% 1%;
      font-size: 200%;
      font-weight: 800;
      width: 7%;
    }

    & .focus {
      background: #0fa0c5;
      color: #fff;
    }
  }

  & .option-container {
    width: 65%;
    height: 65%;
    margin: 4rem auto;
  }

  & img {
    width: 70%;
    height: 70%;
    margin: 5%;
  }

  & .line {
    & .optClick {
      display: inline-block;
      font-weight: bold;
      text-align: center;
    }

    & .opt-text {
      font-size: 3rem;

      & .answer {
        text-decoration: underline;
        color: green;
      }

      & .not-answer {
        text-decoration: underline;
        color: red;
      }

      & .right {
        color: green;
      }

      & .false {
        color: red;
      }
    }
  }
}

.footer {
  .eye {
    padding-left: 30%;
  }

  & img {
    cursor: pointer;
}
} 

